@layer components {
  .prose {
    @apply text-muted-foreground;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-blue-400 font-bold;
  }

  .prose h1 {
    @apply text-3xl mb-4 mt-6;
  }

  .prose h2 {
    @apply text-2xl mb-3 mt-5;
  }

  .prose h3 {
    @apply text-xl mb-2 mt-4;
  }

  .prose h4 {
    @apply text-lg mb-2 mt-3;
  }

  .prose strong {
    @apply text-foreground font-semibold;
  }

  .prose p {
    @apply my-2;
  }

  .prose ul,
  .prose ol {
    @apply my-2;
  }

  .prose li {
    @apply my-1;
  }
}
